<div class="app-container">
  <aside>
    <div class="logo">
      <img src="/assets/logo.png" class="width-full" alt="" />
    </div>
    <ul class="menu">
      <li class="active">
        <div><i class="fas fa-users"></i>Users</div>
      </li>
      <li>
        <div><i class="fas fa-briefcase"></i>Accounts</div>
      </li>
      <li>
        <div><i class="fas fa-cogs"></i>Settings</div>
      </li>
    </ul>
  </aside>
  <div class="main-content">
    <div class="app-header">
      <div class="page-title"><i class="fas fa-users"></i> Users</div>
    </div>
    <section class="content">
      <app-user-list></app-user-list>
    </section>
  </div>
</div>
